{% extends "baseView.html" %}
{% block content %}
<style>
    .wrapper{
        
            padding-left: 16rem;
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            min-height: 100vh;
            padding-top: 16px;
            padding-bottom: 32px;
        
    }
</style>
<div class="wrapper" >

    {% set header = "Task Management" %}
    {% set subscript = "Create tasks → View tasks → Update tasks → Assign tasks" %}
    {% include 'navbar/navbar.html' %}
    
</div>


{% endblock %}